/* Mobile first design */
@media only screen and (max-width: 600px) {
  body {
    background-size: 100vh;
    background-repeat: no-repeat;
  }
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Orbitron&display=swap');

/* Font for dyslexia, shows up for all text except links and title */
* {
  font-family: 'Lexend Deca', sans-serif;
}

/* Makes side scroll have smooth transition in dark mode */
body {
  background: black;
}

/* Background Image to cover whole of every page */
.App {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672");
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
}

/* Styling for listed links */
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

/* Adds space between list items */
ul li {
  margin: 16px;
}

button {
  border: none;
  background-color: transparent;
}

/* Styling for all links */
a {
  letter-spacing: 4px;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  color: 	#daa520;
  text-shadow: 1px 1px #000;
}

/* Change link styling on hover */
a:hover { 
  text-decoration: underline;
  color: rgba(219, 20, 60);
}

/* Title: Where in the web are our Resources? */
h1, h2 {
  letter-spacing: 4px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: rgba(219, 20, 60);
  text-shadow: 1px 1px #000;
  margin: 1em;
}
.searchBar {
  text-align: center;
  margin-bottom: 25px;
}
#magnifyingGlass {
  color: 	#daa520;
  margin-right: 10px;
}
/* Gives IDs of cards and favorited cards same flexbox conditions */
#cards, #favoritedCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Needs own flexbox so all cards are the same length and width */
#displayCard {
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Customize bootstrap cards template */
.card, p {
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px #000;
}

p {
  margin: 25px;
}

.cartoonPicture {
  height: 15em;
  justify-content: center;
  text-align: center;
  left: 50%;
}