@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
  font-family: 'Lexend Deca', sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
ul li {
  margin: 16px;
}

a {
  text-decoration: none;
  color: 	#daa520;
}
a:hover { text-decoration: underline; }

h1 {
  text-align: center;
  color: rgba(219, 20, 60)
}
